.Home-Page {
  width: 100%;
  display: flex;
  height: auto;
  padding-bottom: 70px;
}

.Sidebar {
  width: 23%;
  margin-left: 0px;
  transition: 0.4s ease-in-out;
  position: relative;
}

.Sidebar.clicked {
  display: flex;
  margin-left: -23%;
}

.side-view-top {
  background-color: white;
  height: 40px;
}

.side-view-toggle-button-left {
  right: 0px;
  background-color: transparent;
  border: none;
  position: absolute;
  color: rgb(133, 133, 133);
  padding: 7px 16px;
  transition: all 0.18s ease-in-out;
}

.side-view-toggle-button-left:hover {
  color: rgb(34, 34, 34);
}

.Right {
  width: 100%;
  display: flex;
  position: relative;
}

.side-view-toggle-button-right {
  left: 0px;
  background-color: transparent;
  border: none;
  position: absolute;
  color: #e9e3de;
  padding: 12px 21px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility all 0.5s ease-in-out, opacity all 0.5s ease-in-out;
}

.side-view-toggle-button-right.clicked {
  display: inline-flex;
  visibility: visible;
  opacity: 1;
}

.side-view-toggle-button-right:hover {
  color: rgb(34, 34, 34);
}

.Right .Home {
  width: 65%;
  height: 100%;
}

.Right .SuggestBar {
  width: 35%;
  height: 100%;
}

@media screen and (max-width: 830px) {
  .Right .Home {
    width: 100%;
    height: 100%;
  }

  .Right .SuggestBar {
    display: none;
  }

  .HomeBar {
    margin-right: 5%;
  }
}
